@page
@model BankAppProject.Pages.Customer.NewCustomerModel
@{
}
<a asp-page="/Customer/Index"
   class="btn btn-primary">
    <i class="fa-solid fa-arrow-left"></i>
</a>
<div class="card mt-2">
    <div class="card-header">
        <h2 class="mb-0">New Customer</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="row mb-3">
                <div class="col-md-5">
                    <label asp-for="Customer.Givenname">First name</label>
                    <input class="form-control" asp-for="Customer.Givenname">
                    <span asp-validation-for="Customer.Givenname" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="Customer.Surname">Last name</label>
                    <input class="form-control" asp-for="Customer.Surname">
                    <span asp-validation-for="Customer.Surname" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="Customer.CustomerGender">Gender</label>
                    <select class="form-control" asp-for="Customer.CustomerGender" asp-items="@Model.Genders">
                    </select>
                    <span asp-validation-for="Customer.CustomerGender"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Customer.StreetAddress">Street address</label>
                    <input class="form-control" asp-for="Customer.StreetAddress">
                    <span asp-validation-for="Customer.StreetAddress" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Customer.City">City</label>
                    <input class="form-control" asp-for="Customer.City">
                    <span asp-validation-for="Customer.City" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Customer.ZipCode">Zipcode</label>
                    <input class="form-control" asp-for="Customer.ZipCode">
                    <span asp-validation-for="Customer.ZipCode" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Customer.CustomerCountry">Country</label>
                    <select class="form-control" asp-for="Customer.CustomerCountry" asp-items="@Model.Countries">
                    </select>
                    <span asp-validation-for="Customer.CustomerCountry"
                          class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Customer.Birthday">Birthday</label>
                    <input type="date" class="form-control"
                           asp-for="Customer.Birthday"
                           max="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="Customer.Birthday" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Customer.NationalId">Social security #</label>
                    <input class="form-control" asp-for="Customer.NationalId">
                    <span asp-validation-for="Customer.NationalId" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Customer.Telephonenumber">Phone</label>
                    <div class="input-group">
                        <span class="input-group-text" id="countryCode"></span>
                        <input class="form-control" asp-for="Customer.Telephonenumber">
                    </div>
                    <span asp-validation-for="Customer.Telephonenumber" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="Customer.Emailaddress">Email</label>
                    <input class="form-control" asp-for="Customer.Emailaddress">
                    <span asp-validation-for="Customer.Emailaddress" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary">Save</button>
                </div>
            </div>
            
        </form>
        <!-- Enum errors -->
        @if (!ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
        }
    </div>
</div>
@section Scripts {
    <script>
        const countrySelect = document.querySelector('[name="Customer.CustomerCountry"]');
        const prefixSpan = document.getElementById('countryCode');

        const countryCodes = {
            Sweden: "+46",
            Norway: "+47",
            Denmark: "+45",
            Finland: "+358"
        };

        countrySelect.addEventListener('change', () => {
            const country = countrySelect.value;
            const code = countryCodes[country] || '';
            prefixSpan.textContent = code;
        });
    </script>
}