@page
@model BankAppProject.Pages.Statistics.CountryTop10Model
@{
}
<!--Top 10-->
<button class="btn btn-primary mb-2" onclick="history.back()"><i class="fa-solid fa-arrow-left"></i></button>

<div class="mt-2">
    <div class="row card-header mb-3 align-items-center justify-content-center">
        <img src="~/img/flags/@(Model.CountryCode.ToLower()).png" class="stat-flag pb-2 mr-3" alt="Flag">
        <h2 class="mb-0">Top 10 Customers</h2>
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="list-group list-group-flush w-auto">
        @for (int i = 0; i < Model.Top10Customers.Count; i++)
        {
            var customer = Model.Top10Customers[i];
            <partial name="_Top10Box" model="(customer, i + 1)" />
        }
    </div>
</div>
