/* Ändrar primary och secondary färg */
:root {
    --primary: #443c65; /* Mörklila */
    --secondary: #9fc2d6; /* Ljusblå */
    --info: #9fc2d6; /* Ljusblå */
}

/* Ändra alla primära knappar */
.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

    .btn-primary:hover {
        background-color: #3a3155 !important; /* Lite mörkare nyans vid hover */
    }

/* Ändra navbar-länkar */
.navbar-light .navbar-nav .nav-link {
    color: var(--primary) !important;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: var(--secondary) !important;
    }

/* Ändra fonter */
body, p, a, .btn {
    font-family: "Helvetica", sans-serif !important;
}

h1, h2 {
    font-family: "Rokkitt", serif !important;
}
