:root {
    --primary: #443c65; /* Mörklila */
    --secondary: #9fc2d6; /* Ljusblå */
    --info: #9fc2d6; /* Ljusblå */
}
html, body {
        overflow-x: hidden;
}
.bg-offwhite {
    background-color: #f8f8f8 !important; /*Offwhite*/
}

/* Buttons below */

.btn {
    font-weight: bold !important;
    border-radius: 20px !important;
    letter-spacing: 1px !important;
    padding: 1px 8px !important;
    align-content: center !important;
}
.btn a {
    text-decoration: none !important;
}

.btn-primary {
    background-color: var(--primary) !important;
    border: none !important;
}

    .btn-primary:hover {
        background-color: #554f70 !important;
    }
.btn-outline-primary {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
    border: solid 2px var(--primary) !important;
}

    .btn-outline-primary:hover {
        color: #fff !important;
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }
.btn-secondary {
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
    border: none !important;
}
    .btn-secondary:hover {
        background-color: #82a9bf !important;
    }

    .btn-secondary a {
        color: var(--primary) !important;
    }
.btn-outline-secondary {
    color: var(--secondary) !important;
    border: solid 2px var(--secondary) !important;
    border-color: var(--secondary) !important;
}

    .btn-outline-secondary:hover {
        color: #fff !important;
        background-color: var(--secondary) !important;
        border-color: var(--secondary) !important;
    }
.btn-success a {
        color: white !important;
}
.btn-outline-danger {
    border: solid 2px !important;
}
.small-save-btn {
    align-content: center !important;
    border-radius: 20px !important;
    padding: 0 !important;
    border: solid 2px !important;
    font-weight: bold !important;
}
/* colours below */
.bg-bronze {
    background-color: #cd7f32 !important; /* bronsfärg */
    color: white;
}

.text-bronze {
    color: #cd7f32 !important;
}

.bg-aurorablue {
    background-color: #82a9bf !important; /* bronsfärg */
    color: white;
}

.text-aurorablue {
    color: #9fc2d6 !important;
}

body, p, a, .btn {
    font-family: "Helvetica", sans-serif !important;
}

h1, h2 {
    font-family: "Rokkitt", serif !important;
}

/*Hero below */

.hero-section {
    height: 300px; 
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-width: 100vw;
    margin-left: calc(-50vw + 50%);
    display: block; 
}

    .hero-section img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.hero-text {
    position: absolute;
    top: 65%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    color: var(--primary);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#hero-btn {
    border: none;
}

/* Identity/Account/Manage    below   */

.nav-pills {
    border-radius: 20px !important;
}

    .nav-pills .nav-link {
        color: black !important;
    }

        .nav-pills .nav-link.active {
            background-color: var(--secondary) !important;
            color: black !important;
        }


/* Statistics below */
.stat-flag {
    width: 48px;
    height: auto;
}
.stat-icon {
    font-size: 28px;
    color: var(--primary);
}
body .border-left-primary {
    border-left: 0.25rem solid #443c65 !important;
}
.text-aurora-primary {
    color: var(--primary) !important;
}


/* Navbar below */
.logo {
    max-width: 143px;
    margin-bottom: 9px;
    padding-left: 10px;
}

.navbar {
    padding: 0;
    padding-top: 2px;
}
.navbar-login-aurora {
    height: 41px;
    align-items: center;
}
#navbar-aurora-logged-in {

    display: flex;
    align-items: center;
}
    #navbar-aurora-logged-in a {
        font-size: 0.5rem;
        background-color: #e4edf2;
        border-radius: 15px;
        padding: 5px !important;
        margin-right: 10px;
    }
        #navbar-aurora-logged-in a:hover {
            background-color: #9fc2d6;
        }
.nav-link {
    color: var(--primary) !important;
    letter-spacing: 1px !important;
}

    .nav-link:hover {
        color: #554f70 !important;
    }

#login-logout {
    padding: 2px 10px;
    align-self: center;
    margin-bottom: 0 !important;
    border: none !important;
}
.aurora-nav {
    align-content: center;
    color: var(--primary) !important;
}
    .aurora-nav:hover {
        color: #82a9bf !important;
    }

.table-striped tbody tr.table-row-view:hover {
    outline: solid 2px var(--secondary) !important;
}


.cell-clickable {
    padding: 0 !important;
    text-align: center;
}

    .cell-clickable a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none !important;
    }

        .cell-clickable a i {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #82a9bf;
            width: 100%;
            height: 100%;
            font-size: 1.6rem; 
        }
            .cell-clickable a i:hover {
                color: var(--primary);
            }

.fa-angle-up, .fa-angle-down {
    color: #443c65;
}

thead {
    font-size: 0.9rem;
}
tbody {
    font-size: 0.7rem;
}
.pagination {
    justify-content: space-around;
    align-items: center;
}
.display-pagenumber {
    margin: 0 10px;
}
#search-btn {
    background-color: var(--primary) !important;
    border: none !important;
    padding: 3px 6px !important;
    color: white !important;
    font-weight: bold !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
    #search-btn:hover {
        background-color: #554f70 !important;
    }


/* Media Querys below */

@media (max-width: 767px) {
    #more-info {
        padding: 0 !important;
    }

    #info-body {
        padding: 0 !important;
    }

    .info-ul {
        padding-left: 4px !important;
    }

        .info-ul li {
            margin-bottom: 5px !important;
        }
}

@media (max-width: 575px) {
    .navbar-nav .nav-item {
        margin-bottom: 0.5rem;
    }
    .aurora-nav {
        margin-left: 10px !important;
    }
    .navbar-login-aurora {
        align-items: end;
        margin-bottom: 15px !important;
    }
    #login-logout {
        margin-right: 10px !important;
    }
    .navbar-toggler {
        border: none !important;
        background-color: transparent;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68,60,101,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

@media (max-width: 500px) {
    td {
        font-size: 0.5rem !important;
        padding: 0.2rem !important;
        min-width: 0 !important;
        white-space: normal;
    }
    th {
        padding: 0.2rem !important;
    }
    .th-content {
        font-size: 0.7rem !important;
    }
    .small-p {
        font-size: 0.8rem !important;
    }
    .row-custom {
        display: flex;
        flex-direction: column;
    }
    .top-two {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
}


@media (max-width: 450px) {
    .btn {
        padding-top: 1px !important;
        font-size: 0.9rem !important;
    }

}

